.portfolio-filter {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 20px;
}

.filter-tab {
  background-color: transparent;
  text-decoration: none;
}

.filter-tab:hover {
  cursor: pointer;
}

.filter-tab.selected {
  color: #26c17e;
}

.portfolio-item {
  margin: 0 20px 20px 0;
  position: relative;
}

.portfolio-item-content {
  position: relative;
}

.portfolio-item-info {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9); /* Non-opaque white background */
  color: black; /* Text color */
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s,
    opacity 0.3s linear,
    transform 0.4s ease;
  width: 100%; /* Take up the entire width of the image */
  height: 100%;
  transform: translateY(100%); /* Initially, push left to hide */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 15px 20px;
}

.portfolio-item-info h3 {
  color: #26c17e;
  font:
    700 16px / 19px "Open Sans",
    sans-serif;
  margin-bottom: 10px;
}

.portfolio-item-info p {
  margin-bottom: 10px;
}
.portfolio-item-info a {
  color: #26c17e;
  text-decoration: underline;
}
.portfolio-item:hover .portfolio-item-info {
  visibility: visible;
  opacity: 1;
  transform: translateY(0); /* Push right to reveal on hover */
}
