* {
  padding: 0; /* Remove default padding */
  margin: 0;
}

.feedback {
  list-style-type: none; /* Remove bullet points */
}

.feedback li {
  display: flex;
  margin-bottom: 40px;
}

.feedbackInfo {
  margin-bottom: 10px;
}
.feedbackReporter {
  display: flex;
  align-items: center;
}
.feedbackReporterPhoto {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
}
.feedbackReporter a {
  color: #26c17e;
}
