/* Panel.module.css */

.panel {
  position: fixed;
  background-color: #222935; /* Background color for the panel */
  display: flex;
  width: 250px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between; /* Space between elements */
  align-items: center; /* Center items horizontally */
  z-index: 1000; /* Ensure it's on top of other content */
}

.panel > :last-child {
  margin-top: auto; /* Push the photo box to the bottom */
}

header {
  position: relative;
}

.panel_hidden {
  position: relative;
  display: none;
}

.toggleButton {
  background-color: #222935;
  color: #ffffff;
  border: none;
  border-radius: 0 5px 5px 0;
  position: fixed;
  top: 20px;
  left: 250px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.toggleButton_hidden {
  background-color: #222935;
  color: #ffffff;
  border: none;
  border-radius: 0 5px 5px 0;
  position: fixed;
  top: 20px;
  left: 0px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.photoBox {
  margin-bottom: 40px;
  margin-top: 20px;
}

.navigation {
  width: 100%;
}
.smaller-font {
  font:
    16px / 120% "Open Sans",
    sans-serif;
  font-weight: 700;
}
