/* ContactInfo.module.css */
.address {
  font-style: normal;
  line-height: 1.5;
}

.icon {
  margin-right: 0.5em;
  width: 28px;
  height: 28px;
  color: #26c17e; /* Customize this color to fit your design */
}

dl {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

dt {
  margin-right: 0.5em;
  align-self: center;
  justify-content: center;
  display: flex;
}

dd {
  margin: 0;
}

a {
  color: #667081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.important a {
  color: #222935;
}
