.photoBox {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text */
}

.avatar {
  width: 40%;
  max-width: 163px; /* Adjust size as needed */
  height: auto;
  border-radius: 50%; /* Make the image round */
  margin-bottom: 10px; /* Add space below the image */
  border: 1px solid #ffffff;
}

/* Styles for name, title, and description */
.name {
  font:
    45px / 54px "Open Sans",
    sans-serif;
  font-weight: 700;
}

.smaller-font {
  color: white;
  font:
    16px / 120% "Open Sans",
    sans-serif;
  font-weight: 700;
  /* Adjust as needed for smaller font size */
  /* Other style adjustments as needed */
}

.title {
  font:
    25px / 30px "Open Sans",
    sans-serif;
  font-weight: 600;
  margin: 10px 0;
}
.description {
  font:
    14px / 21px "Open Sans",
    sans-serif;
  font-weight: 400;
}
