.home {
  height: 100vh; /* Full height of the viewport */
  width: 100%; /* Full width of the viewport */
  background-image: url("../../assets/images/background.jpg"); /* Path to your background image */
  background-size: cover; /* Ensures the background image covers the entire container */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
}

.name {
  font-size: 16px; /* Custom font size for Home */
}

.content {
  color: white; /* Text color */
  text-align: center; /* Centers text */
}
