.timeline {
  height: 40vh; /* Set height to 30% of viewport height */
  max-height: 80vh; /* Set max-height to 80% of viewport height */
  overflow-y: auto; /* Enable vertical scroll */
}

.timelineList {
  position: relative;
  padding: 15px;
}

.timelineList li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.timelineDate {
  padding: 15px;
  background: #fff;
  position: relative;
  left: -15px;
}

.timelineEvent {
  position: relative;
}

.timelineList li .timelineEvent:after {
  content: "";
  position: absolute;
  top: 15px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #eee;
}

.timelineList:before {
  background: #26c17e;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  width: 4px;
  content: "";
  margin-left: 18px;
}
