.experienceList {
  padding: 0;
}

.experienceItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.experienceListDate {
  flex: 0 0 100px;
  margin-right: 20px;
}

.experienceListInfo {
  flex: 1;
}

.date {
  color: #667081;
  font-size: 16px;
}
