/* Navigation.module.css */

.navigation {
  background-color: #222935;
  list-style: none;
  padding: 20px;
  margin: 0;
}

.navigation li {
  align-items: center;
  margin-bottom: 40px;
  display: flex;
}

.navigation li:hover a,
.navigation li.active a {
  /* Apply active style to <a> element inside <li> */
  color: #26c17e;
}

.navigation a {
  text-decoration: none;
  color: #667081;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.navigation a:hover {
  color: #26c17e;
}

.navigation .icon {
  color: #667081;
  margin-right: 20px;
  width: 14px; /* Adjust as needed */
  height: 14px; /* Adjust as needed */
}

.navigation li:hover .icon,
.navigation li.active .icon {
  /* Apply active style to <FontAwesomeIcon> inside <li> */
  color: #26c17e;
}
