.button {
  display: inline-block;
  background-color: #222935;
  border: none;
  border-radius: 5px;
  font:
    16px / 19.2px "Open Sans",
    sans-serif;
  font-weight: 400;
  padding: 10px 20px;
  margin: 10px;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #26c17e;
}

.icon {
  color: white;
  margin-right: 10px;
}
